@font-face {
  font-family: 'Abril Fatface';

  src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PPAgrandir';

  src: url('../fonts/PPAgrandir-GrandLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'PPAgrandir';

  src: url('../fonts/PPAgrandir-WideLight.otf') format('opentype');
  font-weight: 300;
}

*,*::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  color: #1d9552;
  font-family: "PPAgrandir", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1vw;
}

h1 {
  font-size: 62px;
  font-family: 'Abril Fatface', Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  line-height: 1.6;
  margin: 0;
  border-bottom: 2px solid #1d9552;
  padding: 10px;
}

h2 {
  font-size: 42px;
  font-family: 'Abril Fatface', Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  margin: 0;
}

h5 {
  font-size: 18px;
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.Resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 780px;
  padding: 40px;
  background-color: #ededed;
}

.About {
  position: relative;
}

.lightType {
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

.About-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  border-bottom: 2px solid #1d9552;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;

}

.Education-wrapper {
  width: 50%;
  border-right: solid 2px #1d9552;
}

.Project-wrapper {
  display: flex;
  padding-left: 20px;
  width: 50%;
  
}


#editForm {
  max-width: 200px;
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ededed;
  border: 1px solid #1d9552;

}
label {
  color: #141414;
}

input {
  appearance: none;
  background: none;
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
  border: 1px solid #1d9552;
  padding: 4px;
  margin-bottom: 12px;
  margin-top: 4px;
  color: #141414;
}

input:focus {
  border: 1px solid #1d9552;
  outline: none;
}

input::placeholder {
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
}

textarea {
  appearance: none;
  background: none;
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
  border: 1px solid #1d9552;
  padding: 3px;
 
}

textarea:focus {
  outline: none;
}
textarea::placeholder {
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;

}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

button {
  font-family: 'PPAgrandir', Georgia, 'Times New Roman', Times, serif;
  padding: 6px 8px 6px 8px;
  background: none;
  border: 1px solid #1d9552;
  margin-top: 8px;
  margin-right: 20px;
  color:  #141414;
}

.Edit {
  position: absolute;
  right: 0;
  margin-right: 0;
  color: #1d9552;
}
.Qualification {
  padding-right: 10px;
}
.projectWrapper, .educationWrapper, .workWrapper, .contactWrapper {
  position: relative;
}

